/* .black {
  fill: var(--ui-black);
}

.white {
  fill: var(--ui-white);
}

.bggray {
  fill: var(--ui-bg-gray);
}

.strokegray {
  fill: var(--ui-stroke-gray);
}

.orange {
  fill: var(--ui-orange);
}

.red {
  fill: var(--ui-red);
} */
