.timerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto Mono", monospace;
  font-weight: 700;
  font-size: 300px;
  line-height: 363px;
  color: var(--ui-black);
}
